#title{
    text-align:center;
    font-family:Helvetica;
    font-weight:bold;
    font-size:50px;
    text-shadow:4px 4px #868676;
}
#column {
    float: left;
    width: 33.33%;
    font-family:Helvetica;
  }
a{
  color:inherit;
}
  #column:after {
    content: "";
    display: table;
    clear: both;
    font-family:Helvetica;
  }
  #price{
    font-family:helvetica;
    font-size:20px;
  }
  *{
    background-color:#F5F5DC;
  }
  #headtitle{
    text-decoration: underline;
  }
  #pic{
    width:300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
#artcont{
    font-family:Arial, Helvetica, sans-serif;
    margin-left:9em;
    margin-right:9em;
    padding:50px;
    line-height:200%;
}
#artitle{
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align:center;
    padding-top:50px;
}
#footer{
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align:center;
    display: block;
  margin-left: auto;
  padding-bottom:50px;
  margin-right: auto;
}